[Unit]
Description=LCD Display

[Service]
User=root
Group=root
Restart=on-failure
ExecStart=~/QnapFreeLCD/lcd-control.ksh

[Install]
WantedBy=multi-user.target
